*{
    margin: 0;
    padding: 0;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* COLORES
#F6E6D8 Manteca
#F8A54A Naranja
#E8581A Rojo
#53B9AE Celeste
#2F3125 Negro
#A2B8AB Verde apagado
#D9D9D9 Gris */

/* NAVBAR */

.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.navbar img{
    margin-left: 2rem;
    height: 50px;
    
}

.navbarlist{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navbaritem {
    margin: 1rem;
    padding: 1rem;
}

.imagenlanding{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: static;
}
.logolanding{
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 200px;
    width: 268px;
}


.tarjeta1 {
    gap: 3rem;
    margin: 3rem auto;
    width: 80%;
    display: flex;
}

.infotarje1 {
   width: 540px;
   height: 220px;
   display: flex;
   align-items: center;

}
.infotarje2 {
   width: 540px;
   height: 220px;
   display: flex;
   align-items: center;
}

.infotarjetxt{
    max-width: 80%;
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.tarjeta2 {
    display: flex;
    margin: 2rem;
}

.insignias {
    display: flex; 
    margin: 0 auto;
    gap: 4rem;
    
}

.insignias img {
    width: 90px;
    gap: 2rem;
    
}

/* NOTICIAS */

.notis{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    
}
/* usar una misma clase para las tres */
.noti1{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 322px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 22px;
}
.noti2{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 322px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 22px;
}
.noti3{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 322px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 22px;
}

.notis p{
    margin: 2rem;
}
.notis img{
    border-radius: 22px;
    
}

/* NEWSLETTER */

.newsletter{
    background-color: #E8581A ;
    width: 100%;
    
}
.tarjenewsletter{
    margin: auto;
    max-width: 80%;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tarjenewsletter h3{
    color: #F6E6D8;
}

/* pagina de contacto */


.formtext{
    margin: 2rem;
}

.formulario{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.form{
    margin: 2rem auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    
}
.itemform{
    display: flex;
    flex-direction: column;
}
.formizq{
    padding: 1rem;
}
.formder{
    padding: 1rem;
}

.itemform{
    width: 260px;
}
.itemform input{
    border-radius: 14px;
    height: 36px;
}
.itemform textarea{
    border-radius: 14px;
    height: 110px;
}
.botones button {
    margin-top: 8px;
    margin-left: 8px;
    height: 36px;
    width: 114px;
}


/* FOOTER */

.footer {
    background-color: beige;
    height: 240px;
    width: 100%;
    display: flex;
    bottom: 0;
    

}

.footerinfo {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  
}
.redes img{
    width: 40px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* PAGINA CONOCENOS */

.contenedornosotros article{
    padding: 2rem;
    
    text-align: justify;
}
.contenedormarcas{
    background-color: #53B9AE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.contenedormarcas h3{
    color: #F6E6D8;
}
.carousel {
    max-width: 80%;
}



/* PAGINA CONTACTO */

.banner {
    background-color: #E8581A;
    padding: 20px 8px 20px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h3, .banner p {
    color: #F6E6D8;
}


/* PAGINA NOTICIAS MOBILE */

.noticias{
    padding: 16px;
}

footer{
    line-height: 5px;
}



/* media querys */
@media (min-width:1024px) {
    
}

@media (max-width:1023px) {


    h1{
        font-size: 24px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    .logolanding img{
        width: 160px;
    }
    .logolanding{
        width: 160px;
    }

    .tarjeta1 {
        gap: 0;
        margin: 12px auto;
        flex-direction: row;
    }
    
    .infotarje1 {
       width: fit-content;
       height: 180px;
    
    }
    .infotarje1 img{
        width: 100px;
    }
    .infotarje2 img{
        width: 100px;
    }
    .infotarje2 {
       width: fit-content;
       height: 180px;
    }
    
    .infotarjetxt{
        max-width: 80%;
        padding: 12px;
        gap: 1rem;
    }
/* Noticias */

.notis{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.noti1{
    flex-direction: row;
    width: 280px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 22px;

}
.noti2{
    flex-direction: row;
    width: 280px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 22px;
}
.noti3{
    flex-direction: row;
    width: 280px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 22px;
}

.notis p{
    margin: 6px;
    padding: 0;
    width: 50%;
}
.notis button{
    display: none;
    
}
.notis img{
    border-radius: 22px;
    width: 50%;
}

}

/* MOBILE */

.tarjeta1 {
    gap: 0;
    margin: 12px auto;
    flex-direction: column;
}

.infotarje1 {
   width: 280px;
   height: 180px;

}
.infotarje1 img{
    width: 80px;
}
.infotarje2 img{
    width: 80px;
}
.infotarje2 {
   width: 280px;
   height: 180px;
   
}

.infotarjetxt{
    max-width: 80%;
    padding: 12px;
    gap: 1rem;
}

/* insignias */

.insignias {
    gap: 10px; 
}

.insignias img {
    width: 80px;
    gap: 2rem; 
}

/* newsletter */

.tarjenewsletter{
    height: 180px;
    flex-direction: column;
    justify-content:center;
}

/* CONTACT PAGE */
.formulario{
    max-width: 90%;
}
.form {
    flex-direction: column;
    gap: 0;
}
.itemform{
    max-width: 190px;
}

    
}

